@import url('https://fonts.googleapis.com/css2?family=Karla:wght@600&family=M+PLUS+Rounded+1c&family=Nanum+Gothic&family=Quicksand&display=swap');


h1 {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

#videoContainer {
    margin: 0; padding: 0;
    /* border sizing: border-box; */
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
}